---
import Encircled from '../Miscs/Encircled.astro';
import Icon from '../icons/Icon.astro';

const partnersIcons = [
  { id: 1, icon: 'lili', name: 'Lili Schmitt' },
] as const;

const partnersText1 = 'With the help of our ';
const partnersText2 = 'partners';
---

<section id="partners">
  <div class="mt-10 text-white pb-20 xl:pb-32">
    <h2
      class="font-medium text-3xl sm:text-4xl md:text-5xl xl:text-[54px] text-center"
    >
      {partnersText1}
      <br class="xl:hidden" />
      <Encircled text={partnersText2} class="font-bold" />
    </h2>
    <div class="partnersCards hidden mt-12 w-full text-sm overflow-hidden">
      <div class="slider flex xl:pt-24 xl:pb-32 w-fit">
        {
          partnersIcons.map((partner) => (
            <div class="w-40 mr-5 las">
              <div class="w-40 h-40 bg-black-light rounded-xl flex flex-col justify-center items-center text-grey">
                <Icon name={partner.icon} />
              </div>
              <p class="mt-4 text-center font-bold">{partner.name}</p>
            </div>
          ))
        }
      </div>
    </div>
    <div class="mt-20 xl:mt-24 w-full overflow-hidden">
      <div class="slider flex w-fit mx-auto">
        {
          partnersIcons.slice(0, 4).map((partner) => (
            <div class="w-40 mr-5 las">
              <div class="w-40 h-40 bg-black-light rounded-xl flex flex-col justify-center items-center text-grey">
                <Icon name={partner.icon} />
              </div>
              <p class="mt-4 text-center font-bold">{partner.name}</p>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
